body {
    font-family: Helvetica, sans-serif;
    color: white;
    background: white;
    padding: 0 40px;
}

h1 {
    letter-spacing: -2px;
    color: black;
}

h2 {
    letter-spacing: -2px;
    color: black;
}

img.about {
    opacity: 0.5;
}